.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;

    margin-top: 5%;
}

.container h3 {
    margin-top: 10px;
}

.image {
    width: 120px;
    background: #f3f3f3;
    border-radius: 50%;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    margin-top: 20px;

    color: #c9c9c9;
}

.location svg {
    margin-right: 5px;
}

.container_welcome {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(240, 238, 238);
    width: 500px;

    border-radius: 6px;
    padding: 30px;
    margin-top: 25px;
}

.container_welcome p {
    font-size: 24px;
    font-weight: bold;
}

.container_welcome span {
    margin-top: 10px;
    margin-left: 10px;
    color: #c9c9c9;
    width: 100%;
}

.container_welcome svg {
    color: rgb(219, 219, 34);
}

.container_welcome span svg {
    font-size: 20px;
    margin-bottom: -5px;
}

@media screen and (max-width: 480px) {
    .location{
        font-size: 16px;
    }

    .container_welcome {
        width: 460px;
    }

    .container_welcome svg {
        color: rgb(219, 219, 34);
    }

    .container_welcome p {
        font-size: 18px;
        font-weight: bold;
        padding-left: 10px;

        width: 100%;
    }
    
    .container_welcome span {
        font-size: 16px;        
        color: #c9c9c9;
        margin-top: 10px;
    }
    
    .container_welcome span svg {
        font-size: 18px;
        margin-bottom: -5px;
    }
}

@media screen and (max-width: 425px) {
    .location{
        font-size: 16px;
    }

    .container_welcome {
        width: 400px;
    }

    .container_welcome svg {
        color: rgb(219, 219, 34);
    }

    .container_welcome p {
        font-size: 18px;
        font-weight: bold;
    }
    
    .container_welcome span {
        font-size: 16px;        
        color: #c9c9c9;
        margin-top: 10px;
    }
    
    .container_welcome span svg {
        font-size: 18px;
        margin-bottom: -5px;
    }
}


@media screen and (max-width: 384px) {
    .location{
        font-size: 16px;
    }

    .container_welcome {
        width: 350px;
    }

    .container_welcome p {
        font-size: 15px;
        font-weight: bold;
    }

    .container_welcome span {
        font-size: 14px;        
        color: #c9c9c9;
        margin-top: 10px;
    }

    .container_welcome span svg {
        font-size: 16px;
        margin-bottom: -5px;
    }
}


@media screen and (max-width: 375px) {
    .location{
        font-size: 16px;
    }

    .container_welcome {
        width: 360px;
    }

    .container_welcome p {
        font-size: 16px;
        font-weight: bold;
    }

    .container_welcome span {
        font-size: 14px;        
        color: #c9c9c9;
        margin-top: 10px;
    }

    .container_welcome span svg {
        font-size: 16px;
        margin-bottom: -5px;
    }
}

@media screen and (max-width: 360px) {
    .location{
        font-size: 16px;
    }

    .container_welcome {
        width: 330px;
    }

    .container_welcome p {
        font-size: 14px;
        font-weight: bold;
    }

    .container_welcome span {
        font-size: 12px;        
        color: #c9c9c9;
        margin-top: 10px;
    }

    .container_welcome span svg {
        font-size: 16px;
        margin-bottom: -5px;
    }
}


@media screen and (max-width: 320px) {
    .location{
        font-size: 16px;
    }

    .container_welcome {
        width: 290px;
    }

    .container_welcome p {
        font-size: 12px;
        font-weight: bold;
    }

    .container_welcome span {
        font-size: 12px;        
        color: #c9c9c9;
        margin-top: 10px;
    }

    .container_welcome span svg {
        font-size: 14px;
        margin-bottom: -4px;
    }
}
